@import 'tailwindcss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 6%, 90%);
  min-height: 100vh;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}